<div id="blog">
  <button class="btn btn-danger" *ngIf="false" (click)="onDelete()">D</button>
  <h1><a href="">Norwegen</a></h1>
  <a [routerLink]="myBlog._id">
    <div class="imageContainer">
      <img src="{{basePath + '/api/file-upload/' + myBlog.titlePicture }}" alt="">
      <p>{{ myBlog?.titlePicture }}</p>
    </div>
    <div class="pl-2 pr-2">
      <h3>{{myBlog.title | uppercase}}<span class="spanright">{{myBlog.updated_on | date}}</span></h3>
      <p>   {{ (myBlog.paragraphs[0]?.paragraphText?.length >240)? (myBlog.paragraphs[0]?.paragraphText | slice:0:240)+' ...':(myBlog.paragraphs[0]?.paragraphText) }}</p>
    </div>
  </a>
</div>
