<h1  class="letter-spacing" style="font-size: 32px; font-weight: 100">ABOUT US</h1>
<div class="row no-gutters justify-content-between mt-4">
  <div class="col-12 col-md-6 p-md-1 p-lg-3">
    <div class="img-container">
      <img src="{{ baseUrl + '/api/file-upload/moritz.jpg' }}" alt="" class="img-in-frame">
    </div>
    <p class="p-3 p-lg-0 mt-1 mt-lg-4">
      Moritz (24) arbeitet als Web-Entwickler und macht berufsbegleitend seinen Master in Wirtschaftsinformatik.
      Er ist begeisterter Snowboarder und programmiert in seiner Freizeit gerne. Daher ist er auch für den
      technischen Teil und die Entwicklung dieses Blogs verantwortlich. Ebenfalls ist er für den Flugbetrieb von Kai (<a
      href="">Mavic 2 Pro</a>) zuständig.
      - mag Neues
      - mag stressfrei
      - ?
    </p>
  </div>
  <div class="col-12 col-md-6 p-md-1 p-lg-3">
    <div class="img-container">
      <img src="{{ baseUrl + '/api/file-upload/katharina.jpg' }}" alt="" class="img-in-frame">
    </div>
    <p class="p-3 p-lg-0 mt-1 mt-lg-4">
      Katha (24) hat sich nach mehrmaligem Umentscheiden für ein Studium der Digitalen Medien
      entschieden. Sie ist durch Moritz vom Snowboard-Fieber angesteckt worden, braucht aber noch
      einiges an Übung. Zudem versucht sie sich im Bouldern und Surfen, wenn sie die Gelegenheit dazu
      hat. Für Natur und Tiere hat sie sich schon in ihrer Kindheit begeistert und liebt daher Wanderungen
      und Ausflüge ins Grüne. Sie hat sich vor ein paar Jahren eine Fotoausrüstung zugelegt und lichtet am
      liebsten Landschaften und Tiere ab. Daher kümmert sie sich hier hauptsächlich um Design und
      Content des Blogs.
    </p>
  </div>
</div>
<div class="row no-gutters">
  <div>
    <p class="p-3">
      Wir sind beide sehr naturbegeistert und wollen daher unbedingt mehr Reisen in unseren Alltag
      einbauen. Zudem versuchen wir so oft wie möglich vegan zu essen, da uns beiden Tiere sehr am
      Herzen liegen. Nachhaltigkeit und ein minimalistischeres Leben sind Themen, die uns immer öfter
      beschäftigen und denen wir uns in Zukunft mehr widmen möchten.
    </p>
  </div>
</div>
