.pic {
  height: 15em;
  width: 15em; // TODO pic gets wider if transformed
  max-width: 400px;
  overflow: hidden;
}

img:hover {
  transform: scale(1.3);
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform .4s;
}
h2 {
 margin-bottom: 20px;
  font-weight: 100;
  color: lightgrey;
}
