<div class="w-100" style="height: 10px; border-bottom: 1px solid black"></div>
<div class="w-100" style="height: 10px; border-bottom: 1px solid black"></div>

<div class="pt-4 pb-5">
  <div class="pics row justify-content-center">
    <div class="pic col-12 col-sm-6 col-md-3">
      <img src="{{basePath + '/api/file-upload/bild1.jpg'}}" alt="">
    </div>
    <div class="pic d-none d-sm-block col-12 col-sm-6 col-md-3">
      <img src="{{basePath + '/api/file-upload/bild3.jpg'}}" alt="">
    </div>
    <div class="pic d-none d-md-block col-12 col-sm-6 col-md-3">
      <img src="{{basePath + '/api/file-upload/bild4.jpg'}}" alt="">
    </div>
    <div class="pic d-none d-md-block col-12 col-sm-6 col-md-3">
      <img src="{{basePath + '/api/file-upload/bild5.jpg'}}" alt="">
    </div>
  </div>
</div>
