
.container{
  margin-top: 100px;
}

.paging p {
  text-align: center;
/*  border-top: 1px solid black;
  border-bottom: 1px solid black;*/
}

hr {
  width: 30%;
}

a {
  margin: 0 10px;
}

a:hover {
  border: 2px solid black;
  text-decoration: none;
/*  transform: scale(10);*/
  /*font-weight: bold;*/
  color: black;
}
