.carousel-caption {
  top: 130px;
  z-index: 0;
}

.erfahre-mehr {
  letter-spacing: 1px;
  margin-top: 38px;
  background: transparent;
  color: white;
  border: 2px solid white;
  width: 165px;
  height: 44px;
}

::ng-deep .carousel-indicators li {
  width: 45px;
  height: 4px;
  margin-right: 6px;
  margin-left: 6px;
}

::ng-deep .picsum-img-wrapper {
  width: 70vw;
  height: 70vh;
}

.jumbotron {
  background-color: #ebe6e0;
  padding: 1rem 2rem;
}

.katha-moritz-container {
  width:30%;
  height: auto;
  overflow: hidden;
}

.katha-moritz-container > img {
  width: 100%;
  height: auto;
}

.carousel-image {
  cursor: pointer;
  width: 100%;
  height: auto;
  opacity: 0.9;
}

@media (max-width: 700px) {
  .katha-moritz-container {
    height: 50vw;
    width: auto;
  }

  .katha-moritz-container > img {
   height: 100%;
   width: auto;
  }

  ::ng-deep .picsum-img-wrapper {
    height: 90vw;
    width: 90vw;
  }

  .carousel-image {
    cursor: pointer;
    width: auto;
    height: 100%;
    opacity: 0.9;
  }
}

.rotate {
  transform: rotate(-13deg);
}

.letter-spacing {
  letter-spacing: 2px;
}
