#header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  min-height: 200px;

  font-size: 40px;
  font-weight: 100;
  letter-spacing: 15px;
  text-align: center;

  // only needed for overlapping
  width: 100%;
  position: absolute;
  box-shadow: 0 10px 70px black;
  overflow-x: hidden;

  cursor: pointer;
}

@media screen
and (min-device-width: 1200px) {
  #header {
    font-size: 80px;
  }
}

span {
  display: inline-block;
}

/* TODO OLD REMOVE IF NOT WANTED
.fichtenfreund {
  background-image: url("Fichtenfreund.jpg");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
}*/
