#header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  min-height: 200px;
  font-size: 40px;
  font-weight: 100;
  letter-spacing: 15px;
  text-align: center;
  cursor: pointer;
}

@media screen
and (min-device-width: 1200px) {
  #header {
    font-size: 80px;
  }
}

span {
  display: inline-block;
}

.logo-container {
  max-width: 529px;
}

.logo {
  font-family: Montserrat, sans-serif;
}
