input.form-control {
  width: available;
  width: -moz-fit-content;
  width: -moz-available;
  width: initial;
  width: -webkit-fill-available;
}

input.form-control-file {
  width: auto;
  padding-left: 15px;
}

label.col-form-label {
  display: block;
}

textarea {
  width: 100%;
}

div.btn-group {
  display: block;
}

form.form-group {
  padding-top: 43px;
}
