  <nav #navbar (scroll)="onScroll($event)" (window:scroll)="onScroll($event)" class="navbar navbar-expand-lg navbar-light bg-light letter-spacing " [ngClass]="{'dontShow': !show, 'oppaci': sticky}">

    <div class="w-100 bg-color d-block d-lg-none">
      <button class="navbar-toggler bg-color" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>


    <div class="collapse navbar-collapse bg-color" id="navbarSupportedContent">
      <ul class="navbar-nav w-100 mr-auto">
        <li class="nav-item">
          <a class="nav-link pl-3" routerLink="/blog" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active">REISE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link pl-3" routerLink="/blog/new" routerLinkActive="active">NEW BLOG</a>
        </li>
        <li class="nav-item">
          <a class="nav-link pl-3" routerLink="/about-us" routerLinkActive="active">ABOUT US</a>
        </li>
        <li class="nav-item">
          <a class="nav-link pl-3" routerLink="/login" routerLinkActive="active">LOGIN</a>
        </li>
      </ul>
      <!--    <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>-->
    </div>
  </nav>


