.navbar {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  opacity: .8;
  box-shadow: 0px 10px 50px #3d3d3d;
  font-weight: 400;
  visibility: visible;
  transition: opacity .4s, visibility 0s;
  padding: 0;
  margin-bottom: 20vh;
}

.nav-link {
  line-height: 5vH;
}

li.nav-item {
  width: 25%;
  text-align: center;
}

.oppaci {
  opacity: 1;
  transition: opacity .4s, visibility 0s;
}

.dontShow {
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s, visibility 1s;
}

.active {
  background-color: #c0c0c0;
}
