
img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
h2 {
 margin-bottom: 20px;
  font-weight: 100;
  color: lightgrey;
}

.insta-container {
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 200px;
  overflow: hidden;
}

a:hover {
  color: unset;
  font-weight: bold;
}
