<div class="comments">
  <!--BLOG UNDEFINED-->
  <ul *ngFor="let comment of myBlog.comments" class="comment list-unstyled">

    <li class="media">
      <div class="img-frame">
        <img class="mr-3" src="http://fichtenfreund.de/api/file-upload/dry-christmas-tree.svg" alt="Generic placeholder image">
      </div>
      <div class="media-body">
        <h5 class="mt-0"><strong>{{comment?.name}}</strong> am {{comment.created | date}}</h5>
        {{comment?.commentText}}
    </div>
    </li>
  </ul>
</div>
<app-comment-form [myBlog]="myBlog"></app-comment-form>
