<hr>
<div class="comment p-3 p-md-0" style="max-width: 800px">
  <h2>Lass uns einen Kommentar da!</h2>
  <!--<button class="btn btn-block btn-secondary" (click)="show = !show">Lass uns einen Kommentar da!</button>

  <form *ngIf="show" class="form-group" [formGroup]="commentForm" (ngSubmit)="onSubmit()">-->
  <form class="form-group" [formGroup]="commentForm" (ngSubmit)="onSubmit()">

    <!--Comment textarea-->
    <div class="form-group">
      <div class="">
        <textarea formControlName="commentText" class="form-control" name="commentText" id="commentText" cols="30" rows="5"></textarea>
      </div>
    </div>

    <!--name-->
    <div class="form-group">
      <label class="col-form-label comment-label" for="title">Name</label>
      <div class="">
        <input formControlName="name" name="name" id="title" class="form-control" type="text">
      </div>
    </div>

    <div class="form-group">
      <small  class="form-text text-muted" *ngIf="commentForm.invalid && commentForm.touched">Bitte alles ausfüllen :)</small>
      <button [disabled]="commentForm.invalid" type="submit" class="btn btn-primary float-left">Senden</button>
    </div>

  </form>
</div>





