

.navbar {
  height: 0;
  top: 0px; // because of heigth 0 it needs to be shifted up half his size
  position: sticky;
  z-index: 1;
  width: 100%;
  opacity: .8;
  box-shadow: 0px 10px 50px #3d3d3d;
  font-weight: 400;
  visibility: visible;
  transition: opacity .4s, visibility 0s;
  padding: 0;
  margin-bottom: 20vh;
}

@media (min-width: 992px) {
  .navbar {
    top: 19px;
  }
}
/*@include media-breakpoint-up(md) {
  .navbar {
    top: 22px;
  }
}*/

.nav-link {
  line-height: 5vH;
}

@media (min-width: 992px) {
  li.nav-item {
    padding-left: 0;
    width: 25%;
    text-align: center;
  }
}


.oppaci {
  opacity: 1;
  transition: opacity .4s, visibility 0s;
}

.dontShow {
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s, visibility 1s;
}

.active {
  background-color: #c0c0c0;
}

.bg-color {
  background-color: lightgrey;
}
